body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1080px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    justify-content: space-between;
}

.task-input input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.task-input button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#task-list li {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

#task-list li .task-text {
    flex-grow: 1;
}

#task-list li .btn-container {
    display: flex;
}

#task-list li .delete-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px; /* Space between buttons */
}

#task-list li .edit-btn {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
